@import '@styles/base';

.dialog {
  width: 20rem;
  height: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    h2 {
      text-align: center;
    }

    .message {
      margin-top: 1rem;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    .cancel {
      text-transform: capitalize;
    }

    .delete {
      text-transform: capitalize;
      background-color: red;
    }
  }
}